{% extends "base.html" %}
{% block title %}Wendy's Windows{% endblock %}
{% block heroclass %}hero, index-hero{% endblock %}
{% block content %}
  <section class="testimonials container u-text-center">
    <div class="card">
      <h2 class="card-title">John Doe</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, id ipsum quaerat ea nulla iure deleniti illo blanditiis eaque sapiente.</p>
    </div>
    <div class="card">
      <h2 class="card-title">John Doe</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, id ipsum quaerat ea nulla iure deleniti illo blanditiis eaque sapiente.</p>
    </div>
    <div class="card">
      <h2 class="card-title">John Doe</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, id ipsum quaerat ea nulla iure deleniti illo blanditiis eaque sapiente.</p>
    </div>
  </section>
{% endblock %}