<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="/theme/css/style.css" type="text/css">
  <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>

<body>
  <header>
    {% block header %}
    <div class="{% block heroclass %}{% endblock %}">
      <nav class="u-clear">
        <div class="icon-container u-clear">
          <i class="fa fa-bars u-float-right"></i>
        </div>
        <ul class="u-text-center" id="navbar">
          <li>
            <a href="/" {% if not page and not article %}class='current-page'{% endif %}>Home</a>
          </li>
          {% for pg in pages %}
          <li>
            <a href="/{{ pg.url }}" {% if pg == page %}class='current-page'{% endif %}>{{ pg.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  {% endblock %}
  </header>
  
  <section>
    {% block content %}{% endblock %}
  </section>

  <footer>
    {% block footer %}
    <p>&copy;The Brothers Coldrick 2017</p>
    {% endblock %}
  </footer>
  <script src="../static/scripts/nav.js"></script>
</body>

</html>