.hero
  height: 70%
  width: 100%
  background-position: center
  background-repeat: no-repeat
  background-size: cover

.index-hero
  background-image: url("../resources/images/hero.jpg")

header
  height: 60em

@media (max-width: 480px)
  header
    height: 40em