.hero
  height: 40em
  background-position: center
  background-repeat: no-repeat
  background-size: cover

.index-hero
  background-image: url("../resources/images/hero.jpg")

@media (max-width: 480px)
  header
    height: 40em